

.form-group {
  margin-bottom: 0;
}

table, th, tr, td {
  border: 1px solid #6b6bfa;
  text-align: center;
  max-width: 17.5rem;
}
td, th {
  width: 2.5rem;
  height: 2.5rem;
  font-weight: normal;
  background-color: #fff;
}

td {
  cursor: pointer;
}
td:hover {
  border: 2px solid #ccd;
}

.div-month {
  width:100%;
 
  background-color: #6d76f0;
  display: flex;
  justify-content: space-between;
  color: white;
  height: 2.5rem;
  align-items: center;
}

.div-month .div-month-arrow {
  font-size:18px;
  padding: 0.4rem 1rem;
  cursor: pointer;
}

.div-month .div-month-arrow:hover {
  background-color: #4852db;
  font-weight: bold;
}

.readmore {
  width:45px;
  height: 20px;
  border: 1px solid #ccd;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.readmore-item {
  width:10px;
  height: 10px;
  border:1px solid #ccd;
  border-radius: 50%;
}

.text {
  font-family: fantasy, sans-serif ;
}

