<div class="form-section">
    <img class="avater" src="assets/images.png">
    <h3>Signup Here</h3>
  <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" formControlName="name" placeholder="Enter Name">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" formControlName="email" placeholder="Enter Email">
    </div>
    <div class="form-group">
      <label>Department</label>
      <input type="text" formControlName="department" placeholder="Choose Department"> 
    </div> 
    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" placeholder="Enter Password">
    </div>
    <div class="form-group">
      <button type="submit">Sign Up</button>
    </div>
  </form>
  <a class="login_link" routerLink="">Already a User? log in</a>
</div>