.bg-dark {
  background-color: #300458 !important;
 

}

@media (min-width:500px) {
  
}

.active {
  color: #f6900a !important;
}


/* 

.dashboard {
  cursor: pointer;
}
.nav_header a {
  text-decoration: none;
  color: white;
}

.nav_links {
  display: flex;
  justify-content: space-between;
  flex-basis: 40%;
  flex-wrap: wrap;
}

.nav_links a{
  text-decoration: none;
  color: white;
}

.nav_links .active {
  color: #f6900a
}

.dashborad_items {
  background-color: white;
  color: #333;
  position: absolute;
  top: 55px;
  right: 40px;
  border: 1px solid #ccc;
  transform: translateY(0px) translateX(-100px);
  transition: all 1s;
 
}
.dashborad_item {
  padding: 10px 20px;
  border-bottom: 1px solid #ccd;
  cursor: pointer;
  background-color: white;
}
.dashborad_item:hover {
  background-color: wheat;
  box-shadow: 1px 2px #d1d1d6 6px;
  transition: 0.3s;
} */