  <div class="row"> 
    <div class="col">
        <img src="assets/wedding.jpg" >
        <img src="assets/sec2.jpeg" >
        <img src="assets/sec2.jpeg" alt="">
        <img src="assets/sec2.jpeg" alt="">
        <img src="assets/sec2.jpeg" alt="">
    </div>
    <div class="col">
        <img src="assets/sec3.jpeg" alt="">
        <img src="assets/sec3.jpeg" alt="">
        <img src="assets/wedding.jpg" >

        <img src="assets/sec3.jpeg" alt="">
        <img src="assets/sec3.jpeg" alt="">
        <img src="assets/sec3.jpeg" alt="">
    </div>
    <div class="col">
        <img src="assets/sec4.jpeg" alt="">
        <img src="assets/wedding.jpg" >
        <img src="assets/wedding.jpg" >

        <img src="assets/sec4.jpeg" alt="">
        <img src="assets/sec4.jpeg" alt="">
        <img src="assets/sec4.jpeg" alt="">
        <img src="assets/sec4.jpeg" alt="">
    </div>
  </div>