 * {
   box-sizing: border-box;
 }
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  /* width: 100%; */
  /* justify-content: space-between; */
}

/* Create four equal columns that sits next to each other */
.col {
  flex: 33%;
  max-width: 33%;
}

.col img {
  margin-top: 2rem;
  vertical-align: middle;
  width: 100%;
}
